html,body{
    background-color: rgb(241, 234, 234);
}
.row{
    margin-top: 2%;
	 display: flex;
    justify-content:space-between;
    padding-bottom: 10px;
}
h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
    display: block;
    float: none;
    padding:6px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.login{
 margin: auto;
 display: block;
 max-width:500px;
}
.form{
    max-width:500px;
    display: block;
    margin: auto;
    width: 100%;
    
}
.form label{
    width: 100%;
    margin:8px;
    padding: 5px;
    font-size: 20px;
    color:black;
}
.form input{
    width: 100%;
    margin:8px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
}
.form select{
    width: 103%;
    margin:8px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
}
.form textarea{
    margin:10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
}
.form button{
    font-weight: bold;
    margin:10px 170px;
    font-size: 15px;
    padding: 9px ;
    border: 2px solid black;
    border-radius: 8px;
    width: 40%;  
    box-align: center;
    transition: 0.5s;
}
.form button:hover{
    background-color: rgb(71, 151, 255)
}
.form p{
    text-align: center;
}

@media(max-width: 780px)
{ 
   .head{
           color: white;
           font-size: 25px;
           text-shadow: 2px 2px 5px red;
           padding: 0% 2%;
       }
    .links ul li{
       display: block;
    }
    .links{
        position: absolute;
        background: #221d33;
        height: 130vh;
        width: 220px;
        top:8px;
        right: -220px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .links ul{
      padding:30px ;
    }
    .head1{
        margin: 10px 0 40px;
        font-size: 15px;
    }
        .footer h3{
            font-size: 15px;
        }
        .no p{
            font-size: 15px;
          top: 54%;
         left: 25%;
        }
        .no .fab{
            position:relative;
            right: 30%;
            padding-bottom: 30px;
            font-size: 20px;
        }
    h2{
       width: 96%;
       text-align: center;
       font-size: 16px;
       display: block;
       float: none;
    }
    .form input{
        width: 90%;
        margin:10px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 3px;
    }
    .form select{
        width: 95%;
        margin:8px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 3px;
    }
    .form textarea{
        width:90%;
        margin:10px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 3px; 
    }
    .form button{
        font-weight: bold;
        margin:10px 100px;
        font-size: 15px;
        padding: 9px ;
        border: 2px solid black;
        border-radius: 8px;
        width: 40%;  
        transition: 0.5s;
    }
    .form button:hover{
        background-color: rgb(71, 151, 255);
       }
       .footer
        {
        background-color: #221d33;
        height: 70px;
        position: relative;
        }
     .ic{
        position:absolute;
        margin-bottom: 0px;
        text-align:center;
        width:100%;
        bottom: 1%;
        font-size: 20px;
       }
}